# Test Environment Configurations (dev | test | stage | prod)
TEST_ENV=test
TEST_APP=GOOGLE
DEVICE=desktop
# Test Credentials Template
GOOGLE_USERNAME=your_username_here
GOOGLE_PASSWORD=your_password_here
APPLE_USERNAME=your_username_here
APPLE_PASSWORD=your_password_here
TEST_USERNAME=your_username_here
TEST_PASSWORD=your_password_here
TEST_ROLE=admin
