# Test Environment Configurations (dev | test | stage | prod)
TEST_ENV=dev
TEST_APP=DEMO
DEVICE=desktop

# Test Credentials Template
DEMO_USERNAME=your_username_here
DEMO_PASSWORD=your_password_here
TEST_ROLE=admin
